html, body {
	background: white;
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: #222;
}

#container {
	height: 100%;
	font-family: PoiretOne;
	color: #222222;
}

.black-bar {
	height: 60px;
	background: #222222;
}

#content {
	height: calc(100% - 120px);
}

#logo {
	font-size: 120px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 80px;
}

#social-media {
	text-align: center;
	font-size: 50px;
}

#social-media div {
	float: left;
}

#twitter {
	width: 50%;
	text-align: right;
}

#twitter a {
	position: relative;
	right: 50px;
}

#twitter a:hover {
	color: #1da1f2;
}

#github {
	width: 50%;
	text-align: left;
}

#github a {
	position: relative;
	left: 50px;
}

#github a:hover {
	color: #800080;
}

.fa.fa-twitter, .fa.fa-github {
	font-size: 70px;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#logo {
		font-size: 60px;
	}

	#social-media {
		font-size: 30px;
	}

	#twitter,#github {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	#twitter a, #github a {
		position: initial;
	}

	.fa.fa-twitter, .fa.fa-github {
		font-size: 50px;
	}
}

@font-face {
	font-family: PoiretOne; 
	src: url('mobile/PoiretOne-Regular.ttf');
}