body {
	background-color: #ffffff;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	text-align: center;
}

.black-bar {
	background-color: #111111;
	height: 48px;
	color: white;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 10px;
	line-height: 48px;
}

.black-bar a:hover {
	color: white;
}

.black-bar li {
	width: 50px;
}

.black-bar li a {
	color: white;
}

.myContainer {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
  .myContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .myContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .myContainer {
    width: 1170px;
  }
}

#social-top {
	font-size: 16px;
}

#social-top li:hover {
	background-color: #2d2d2d;
}

#logo {
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: PoiretOne;
	font-size: 60px;
	text-transform: uppercase;
}

/*************** NAV BAR **************/
#nav-bar {
	height: 48px;
	border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #eaeaea;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 48px;
    font-size: 15px;
    text-transform: uppercase;
}

#nav-bar a {
	color: #222222;
}

#nav-bar li{
	margin-left: 3%;
	margin-right: 3%;
}

/*************** CONTENT **************/
#content {
	background-color: #f6f6f6;
	padding-bottom: 5%;
}

#footer {
	height: 96px;
	line-height: 96px;
}

#footer-logo {
	font-family: PoiretOne;
	font-size: 40px;
	text-transform: uppercase;
}

#footer-copyright {
	font-family: Montserrat;
}

@media (max-width: 767px)
{
	.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
		display: none;
	}
}

.icon-bar-father {
	background: white; 
	margin-left: 10px; 
	padding: 9px 10px;
	width: 42px; 
	border-radius: 4px;
}

.icon-bar {
	border: 1px solid black;
}

#side-menu-collapsable {
	width: 200px;
	height: 250px;
	left: -200px;
	position: absolute;
	background: #111111;
	display: none;
	z-index: 2;
	border-radius: 0 0 5px 0;
}

#side-menu-collapsable li{
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 10px;
	height: 50px;
	margin-top: 20px;
	width: 200px;
	text-align: center;
}

#side-menu-collapsable a {
	color: white;
}

#side-menu-collapsable a:hover {
	color: white;
}

#side-menu-collapsable li:first-child {
	margin-top: 50px;
}



/*************** FONTS **************/
@font-face {
	font-family: PoiretOne; 
	src: url('PoiretOne-Regular.ttf');
}

@font-face {
	font-family: Montserrat;
	src: url('montserrat/Montserrat-Regular.otf');
}

@font-face {
	font-family: Lato;
	src: url('lato/Lato-Regular.ttf');
}