/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}


/* MOBILE */

/* MAIN CONTAINERS */
body {
	/*font-family: NotoSans;*/
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	background-color: #333a46;
}

.content {
	width: 100%;
	transition: margin-left .5s;
}

.side-menu {
    height: 100%;
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100%;
    background-color: #D8284E;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.close {
	display: none !important;
}

.open {
	display: none !important;
}

.close-menu {
	display: none;
	background: rgba(0, 0, 0, 0.25);
}

#todo:target {
	margin-left: -250px;
	position: fixed;
	overflow: hidden;
}

#todo:target ~ .side-menu {
	margin-left: -250px;
	box-shadow: 0 0 3px black;
}

#todo:target .close {
	display: inline-block !important;
}

#todo:target .open {
	display: none !important;
}

#todo:target .close-menu {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.side-menu a {
	width: 100%;
    padding: 8px 10px 16px 32px;
    font-size: 16px;
    color: white;
    display: block;
    
    text-decoration: none;
}

.side-menu a:hover{
    color: black;
    border-left: 4px black solid;
    padding-left: 28px;
}


.menu, .cta, .blocks-container {
	width: 90%;
	margin: 0 auto;
}

.jumbotron {
	background-image: url("jumbotron-bg-2.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 900px;
	max-height: 900px;
}

.features {
	background: #D8284E;
	padding-top: 60px;
}

.features2 {
	background: white;
	padding: 66px 0;
}

.newsletter {
	background: #D8284E;
	padding: 60px 0 45px;
	text-align: center;
}

.footer {
	background: #333A46;
	height: 105px;
	line-height: 105px;
}

/* JUMBOTRON */
.menu {
	width: 100%;
	height: 86px;
	line-height: 86px;
}

.logo {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 30px;
	margin-left: 3%;
	max-width: 70%;
	height: 100%;
}

.menu-links {
	color: white;
	width: 61%;
	height: 100%;
	float: right;
	text-align: right;
}

.menu-links li {
	display: inline-block;
	margin-right: 56px;
	margin-top: 4px;
}

.menu-links li:last-child {
	margin-right: 3%;
}

.menu-links a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 12px;
}

.menu-links a:hover {
	color: #eee;
}

.menu-icon {
	display: none;
	margin-right: 3%;
	max-width: 15%;
	margin-top: 20px;
	float: right;
}

.cta {
	color: white;
	max-width: 450px;
}

.cta-primary-text {
	font-size: 50px;
	margin-top: 200px;
	margin-bottom: 40px;
}

.cta-secondary-text {
	font-size: 21px;
}

.cta-button {
	width: 250px; /* 270 */
	height: 58px;
	line-height: 58px;
	border-radius: 10px;
	background: #D8284E;
	border: none;
	color: white;
	font-size: 21px;
	font-weight: 600; /* semibold */
	margin: 0 auto;
	text-align: center; /* left */
	/*padding-left: 35px;*/
	display: block;
	position: relative;
	transition: background 0.2s;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.cta-button:hover {
	background: #BA0D30;
}

.cta-button-container {
	position: relative;
	margin-top: 100px;
	margin-bottom: 40px;
}

.cta-button-container svg {
	position: absolute;
	top: 20px;
	left: 220px;
}

/* FEATURES */

.blocks-container {
	overflow: hidden;
}

.slogan-container {
	color: white;
	text-align: center;
	margin-bottom: 110px;
	width: 100%;
}

.slogan {
	font-size: 37px;
	font-weight: 200;
	/*max-width: 400px;*/
	margin: 30px auto 70px;
	line-height: 50px;
}

.subslogan {
	font-size: 21px;
	margin: 0 auto;
	max-width: 700px;
}

.features-block {
	height: 114px;
	margin: 0 auto 100px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.features-block-icon {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.feature-block-description {
	display: inline-block;
}

.features-block-tittle {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 14px;
	max-width: 387px;
}

.features-block-text {
	font-size: 16px;
	max-width: 362px;
}

/* FEATURES 2 */

.features2-block {
	height: 415px;
	margin: 0 auto;
	text-align: center;
}

.features2-block-img {
	margin: 0 auto;
	position: relative;
	top: 60px;
}

.features2-block-tittle {
	font-size: 37px;
	color: #333a46;
	margin-top: 50px;
}

/* NEWSLETTER */

.newsletter-tittle {
	font-size: 37px;
	color: white;
	margin-bottom: 35px;
}

.newsletter-text {
	font-size: 16px;
	color: white;
	margin-bottom: 45px;
}

.newsletter-input {
	width: 445px;
	height: 52px;
	border: none;
	font-size: 21px;
	margin-right: 10px;
	padding-left: 15px;
}

.newsletter-submit {
	width: 142px;
	height: 52px;
	border-radius: 5px;
	background: #333A46;
	border: none; 
	font-size: 21px;
	color: white;
	transition: background 0.2s;
}

.newsletter-submit:hover {
	background: #60646B;
}

/* FOOTER */

.footer .blocks-container > div {
	width: 100%;
	float: left;
	font-size: 21px;
	color: white;
	
}

.social-navigation {
	text-align: center;
}

.hecho-con-amor {
	text-align: center;
}

.copyright {
	text-align: center;
}

.social-navigation ul li {
	display: inline-block;
	margin-right: 18px;
	margin-left: 18px;
}

/* 2.0 */

.cta-entrenadores {
	width: 100%;
	text-align: center;
}

.cta-entrenadores-title {
	font-size: 37px;
	color: #333a46;
	
}

.cta-entrenadores-subtitle {
	font-size: 21px;
	color: #95989A;
	margin-top: 25px;
}

.cta-entrenadores button {
	border: 3px #333A46 solid;
	background: none;
	width: 270px;
	height: 58px;
	font-size: 21px;
	border-radius: 10px;
	color: #333A46;
	margin-top: 40px;
	transition: background-color 0.2s;
	text-transform: uppercase;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.cta-entrenadores button:hover {
	border: none;
	background-color: #333A46;
	color: white;
}

.cta-entrenar-2 {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.cta-entrenar-2-text {
	font-size: 28px;
	color: white;
	
}

.cta-entrenar-2 button {
	border: 3px white solid;
	background: none;
	width: 270px;
	height: 58px;
	font-size: 21px;
	border-radius: 10px;
	color: white;
	margin-top: 40px;
	margin-bottom: 60px;
	transition: background-color 0.2s;
	text-transform: uppercase;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.cta-entrenar-2 button:hover {
	border: none;
	background-color: #333A46;
}

/* HIBRIDOS */

@media only screen and (max-width: 568px) {
	.features-block {
		height: 210px;
		text-align: center;
	}

	.features-block-icon {
		display: block;
		margin: 0 auto;
		float: none;
	}

	.cta-primary-text {
		margin-top: 100px;
	}

	.jumbotron {
		margin-bottom: -200px;
	}
}

@media only screen and (max-width: 701px) {
	/* FORMULARIO NEWSLETTER */
	.newsletter-submit {
		margin-top: 20px;
	}
}


@media only screen and (max-width: 1290px) { /* 1290 */
	.menu-links {
		width: 66%;
	}
}

/*@media only screen and (max-width: 1185px) {
	.menu-links {
		width: 68%;
	}
}*/

@media only screen and (max-width: 1200px) { /* 1095 */
	.menu-links {
		display: none;
	}

	.open {
		display: inline-block !important;
	}
}

/* PC */ 

@media only screen and (min-width: 1440px) {
    /* MAIN CONTAINERS */
	.menu, .cta, .blocks-container {
		max-width: 1280px;
	}


	/* JUMBOTRON */
	.logo {
		margin-left: 0px;
	}

	.cta {
		margin-left: 25%;
		max-width: 450px;
	}

	
	/* FEATURES */
	.features-block {
		width: 640px; /* 497 */
		height: 114px;
		float: left;
		display: initial;
	}

	.feature-block-content {
		margin: 0;
		width: auto;
	}

	.feature-block-content.right {
		float: right;
	}



	/* FEATURES 2 */
	.features2-block {
		width: 640px;
		height: 415px;
		float: left;
		text-align: center;
	}

	.features2-block:nth-child(1) {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		border-right: 1px #95989A solid;
	}

	.features2-block-img {
		top: 90px;
	}

	.features2-block-tittle {
		margin-top: 0;
	}


	/* NEWSLETTER */


	/* FOOTER */
	.footer .blocks-container > div {
		width: 426px;
	}

	.social-navigation {
		text-align: left;
	}

	.copyright {
		text-align: right;
	}

	.social-navigation ul li {
		margin-right: 36px;
		margin-left: 0px;
	}
}


@font-face {
	font-family: NotoSans;
	src: url(weblysleekuisb.ttf);
}


