/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

/* MOBILE */

/* MAIN CONTAINERS */
body {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	font-size: 16px;
	background-color: #333a46;
}

.content {
	width: 100%;
	transition: margin-left .5s;
}

.side-menu {
    height: 100%;
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100%;
    background-color: #D8284E;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.close {
	display: none !important;
}

.open {
	display: none !important;
}

.close-menu {
	display: none;
	background: rgba(0, 0, 0, 0.25);
}

#todo:target {
	margin-left: -250px;
	position: fixed;
	overflow: hidden;
}

#todo:target ~ .side-menu {
	margin-left: -250px;
	box-shadow: 0 0 3px black;
}

#todo:target .close {
	display: inline-block !important;
}

#todo:target .open {
	display: none !important;
}

#todo:target .close-menu {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.side-menu a {
	width: 100%;
    padding: 8px 10px 16px 32px;
    font-size: 16px;
    color: white;
    display: block;
    text-decoration: none;
}

.side-menu a:hover{
    color: black;
    border-left: 4px black solid;
    padding-left: 28px;
}


.menu, .blocks-container {
	width: 90%;
	margin: 0 auto;
}

.blocks-container {
	overflow: hidden; /* float elements */
}

.newsletter {
	background: #D8284E;
	padding: 60px 0 45px;
	text-align: center;
}

.footer {
	background: #333A46;
	height: 105px;
	line-height: 105px;
}

/* MENU */
.menu {
	width: 100%;
	height: 95px;
	line-height: 95px;
}

.logo {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 30px;
	margin-left: 3%;
	max-width: 70%;
	height: 100%;
}

.menu-links {
	color: white;
	width: 61%;
	height: 100%;
	float: right;
	text-align: right;
}

.menu-links li {
	display: inline-block;
	margin-right: 56px;
	margin-top: 4px;
}

.menu-links li:last-child {
	margin-right: 3%;
}

.menu-links a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 12px;
}

.menu-links a:hover {
	color: #eee;
}

.menu-icon {
	display: none;
	margin-right: 3%;
	max-width: 15%;
	margin-top: 20px;
	float: right;
}

/* NEWSLETTER */

.newsletter-tittle {
	font-size: 37px;
	color: white;
	margin-bottom: 35px;
}

.newsletter-text {
	font-size: 16px;
	color: white;
	margin-bottom: 45px;
}

.newsletter-input {
	width: 445px;
	height: 52px;
	border: none;
	font-size: 21px;
	margin-right: 10px;
	padding-left: 15px;
}

.newsletter-submit {
	width: 142px;
	height: 52px;
	border-radius: 5px;
	background: #333A46;
	border: none; 
	font-size: 21px;
	color: white;
}

/* FOOTER */

.footer .blocks-container > div {
	width: 100%;
	float: left;
	font-size: 21px;
	color: white;
	
}

.social-navigation {
	text-align: center;
}

.hecho-con-amor {
	text-align: center;
}

.copyright {
	text-align: center;
}

.social-navigation ul li {
	display: inline-block;
	margin-right: 18px;
	margin-left: 18px;
}

.social-navigation a {
	text-decoration: none;
	color: white;
}

.social-navigation a:hover {
	text-decoration: underline;
}

/* PAGE EXCLUSIVE */

.page {
	background-color: white;
	color: #333A46;
	padding: 60px 0 30px;
	height: auto;
}

.title {
	font-size: 37px;
	color: #333A46;
	text-align: center;
	margin-bottom: 40px;
}

.subtitle {
	font-size: 28px;
	color: #333A46;
	margin-top: 50px;
	margin-bottom: 55px;
	text-align: center;
}

.page-text {
	font-size: 21px;
	color: #95989A;
}

.center {
	text-align: center !important;
}

.active {
	color: #C9C9C9 !important;
}

.active-sidemenu {
    color: black !important;
    border-left: 4px black solid;
    padding-left: 28px;
}

.mail-address-container {
	width: 100%;
	margin: 60px auto 0;
	text-align: center;
	margin-bottom: 85px;
}

.address {
	font-size: 21px;
	color: #333A46;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	top: 7px;
}

.politicas-title {
	font-size: 12px;
	color: #333A46;
	margin-bottom: 7px;
}

.politicas-text {
	font-size: 12px;
	color: #95989A;
}

.steps {
	line-height: 100px;
}

.number {
	width: 100px;
	height: 100px;
	background-color: #d8284e;
	border-radius: 50%;
	font-size: 50px;
	color: white;
	text-align: center;
	margin: 0 auto 30px;
}

.steps li {
	width: 100%;
	margin-bottom: 28px;
}

.steps-text {
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	max-width: 80%;
}

.steps-text span {
	font-size: 21px;
	line-height: 21px;
	color: #95989A;
	text-align: center;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}


.services {
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	overflow: hidden;
}

.services li {
	width: 100%;
	float: left;
	margin-bottom: 100px;
}

.service-icon {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto 25px;
	line-height: 13;
}

.arrow-down {
	width: 52px;
	height: 63px;
	margin: 30px auto 6px;
}


/* HIBRIDOS */

@media only screen and (min-width: 420px) {
	/* FORMULARIO NEWSLETTER */
	.address {
		font-size: 28px;
		margin-left: 30px;
	}
}

@media only screen and (min-width: 765px) {
	.number {
		display: inline-block;
		margin: 0 34px 0 0;
		float: left;
	}

	.steps li {
		height: 100px;
	}

	.steps li span {
		display: inline-block;
		text-align: left;
		margin: 0;

		vertical-align: middle;
		line-height: normal;
	}

	.steps-text {
		float: left;
	}

	.subtitle {
		text-align: left;
	}
}

@media only screen and (min-width: 630px) {
	.services li {
		width: 50%;
	}
}

@media only screen and (min-width: 1400px) {
	.services li {
		width: 25%;
		margin-bottom: 170px;
	}

	.services li:nth-child(n+5) {
		margin-bottom: 100px;
	}

	.services {
		padding-top: 70px;
	}
}

@media only screen and (max-width: 701px) {
	/* FORMULARIO NEWSLETTER */
	.newsletter-submit {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 1290px) { /* 1290 */
	.menu-links {
		width: 66%;
	}
}

@media only screen and (max-width: 1200px) { /* 1095 */
	.menu-links {
		display: none;
	}

	.open {
		display: inline-block !important;
	}
}

/* PC */ 

@media only screen and (min-width: 1440px) {
    /* MAIN CONTAINERS */
	.menu, .blocks-container {
		max-width: 1280px;
	}


	/* JUMBOTRON */
	.logo {
		margin-left: 0px;
	}

	/* FOOTER */
	.footer .blocks-container > div {
		width: 426px;
	}

	.social-navigation {
		text-align: left;
	}

	.copyright {
		text-align: right;
	}

	.social-navigation ul li {
		margin-right: 36px;
		margin-left: 0px;
	}
}