html, body {
	margin: 0;
	padding: 0;
}

#logo {
	text-align: center;
}

.logo {
	font-size: 60px;
	font-family: PoiretOne;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 30px;
}

.sublogo {
	width: 80%;
	margin: 0 auto 70px;
	color: #666666;
	font-size: 18px;
	font-family: Lato;
	font-style: italic;
}

section {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	max-width: 1024px;
}

#social-media {
	text-align: center;
	font-size: 60px;
}

#social-media ul {
	list-style: none;
	height: 90px;
	display: block;
	margin: 0;
	padding: 0;
}

#social-media li {
	height: 100%;
	width: 80px;
	display: inline-block;
	position: relative;
}

#social-media a {
	color: #222;
	text-decoration: none;
}

#social-media svg {
	position: absolute;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
}

#social-media svg:hover {
	fill: #444;
}

#about-me {
	padding: 30px 0;
}

#about-me img {
	width: 300px;
	height: 300px;
}

.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 690px;
    margin: 0 auto;
}

.center > * {
	padding: 0 15px;
}

#description {
    height: 300px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#description p {
	font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    align-self: center;
}


#email {
	margin-top: 30px;
	text-align: center;
}

#email svg {
	vertical-align: middle;
}

#email p {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	vertical-align: middle;
	font-weight: normal;
}

#portfolio {
	padding-bottom: 50px;
	text-align: center;
}

.portfolio-element {
	display: inline-block;
    width: 200px;
    height: 100px;
    padding: 0 30px;
    margin: 20px 20px 0;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.portfolio-element img {
	width: 200px;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-element p {
	width: 200px;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 17px;
    color: white;
    margin: 0;
}

#blog {
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 0;
}

h1 {
	margin: 30px 0;
	font-family: Montserrat;
	font-size: 40px;
	color: #222;
	text-transform: uppercase;
	text-align: center;
}

.entry {
	color: #222;
	padding: 20px 0;
}

.entry:nth-child(even) {
	background: #eee;
}

.entry a {
	color: #222;
	font-weight: bold;
}

.entry .container {
	width: 90%;
	margin: 0 auto;
}

.entry .title {
	font-family: Montserrat;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.entry .content {
	font-family: Lato;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -.003em;
}

.entry .date {
	font-family: Montserrat;
	font-size: 18px;
	color: #666;
	text-align: center;
}

#footer-bar {
	background: #222;
	color: white;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 16px;
	width: 100%;
	height: 45px;
	text-align: right;
}

#powered {
	line-height: 45px;
	position: relative;
	right: 10px;
}

#powered img {
	height: 20px; 
	display: inline-block;
	position: relative;
	top: 3px;
}

/*************** FONTS **************/
@font-face {
	font-family: PoiretOne; 
	src: url('../fonts/PoiretOne.ttf');
}

@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat.otf');
}

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato.ttf');
}