html, body {
	margin: 0;
	padding: 0;
}

#announce-bar {
	width: 100%;
	height: 45px;
	background: #222222;
	overflow: hidden;
}

.announces-container {
	width: 200%;
	min-width: 1100px;
}

.announce {
	float: left;
	width: 50%;
	height: 45px;
	text-align: center;
	animation: slideshow 30s linear infinite;
  	transform: translate3d(0, 0, 0);

  	color: white;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 45px;
}

@keyframes slideshow {
  0% {
    -webkit-transform: translateX(75%);
  }
  100% { 
    -webkit-transform: translateX(-175%);  
  }
}

#logo {
	position: relative;
	top: 45px;
	padding-bottom: 45px;
	text-align: center;
}

.logo {
	font-size: 60px;
	font-family: PoiretOne;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.sublogo {
	width: 80%;
	margin: 0 auto;
	color: #666666;
	font-size: 18px;
	font-family: Lato;
	font-style: italic;
	padding-bottom: 40px;
}

section {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	max-width: 1024px;
}

#social-media {
	text-align: center;
	font-size: 60px;
}

#social-media ul {
	list-style: none;
	height: 90px;
	display: block;
	margin: 0;
	padding: 0;
}

#social-media li {
	height: 100%;
	width: 80px;
	display: inline-block;
	position: relative;
}

#social-media a {
	margin: 15px;
	color: #222;
	text-decoration: none;
}

#social-media svg {
	position: absolute;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
}

#social-media svg:hover {
	fill: #444;
}

#love-react {
	margin-top: 30px;
	font-family: Montserrat;
	color: #222;
	text-align: center;
	font-weight: bold;
}

#love-react img {
	margin-top: -10px;
	max-width: 100%;
	padding-bottom: 35px;
}

#projects {
	padding-bottom: 50px;
	text-align: center;
}

#projects a{
	display: inline-block;
    width: 200px;
    height: 80px;
    padding: 0 30px;
    margin: 20px 20px 0;
    position: relative;
    text-align: left;
}

#projects #showdown-stats {
	background-color: #272727;
}

#projects #vgc-ladder {
	background-color: #D50000;
}

#projects img {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	margin: auto;
}

#blog {
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 0;
}

h1 {
	margin: 30px 0;
	font-family: Montserrat;
	font-size: 40px;
	color: #222;
	text-transform: uppercase;
	text-align: center;
}

.entry {
	color: #222;
	padding: 20px 0;
}

.entry:nth-child(even) {
	background: #eee;
}

.entry a {
	color: #222;
	font-weight: bold;
}

.entry .container {
	width: 90%;
	margin: 0 auto;
}

.entry .title {
	font-family: Montserrat;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.entry .content {
	font-family: Lato;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -.003em;
}

.entry .date {
	font-family: Montserrat;
	font-size: 18px;
	color: #666;
	text-align: center;
}

#footer-bar {
	background: #222;
	color: white;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 16px;
	width: 100%;
	height: 45px;
	text-align: right;
}

#powered {
	line-height: 45px;
	position: relative;
	right: 10px;
}

#powered img {
	height: 20px; 
	display: inline-block;
	position: relative;
	top: 3px;
}

/*************** FONTS **************/
@font-face {
	font-family: PoiretOne; 
	src: url('../fonts/PoiretOne.ttf');
}

@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat.otf');
}

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato.ttf');
}